.env
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.hf_cache/
*.egg-info/

data/
*.db
*.log
bin/
flask_session/
.flask_sessions/
share/
lib/
index/
etc/
*.DS_STORE
.DS_STORE
.venv
*.jpg
AGENTS.md
pyvenv.cfg

index